{% extends "base.html" %}
{% load static %}


{% block content %}
<div style="margin: 50px 50px;">
    <div id="myTable" class="row">
        {% for pokemon in pokemons %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div style="margin: 10px 0;">
                <div class="card text-center {% if 'grass' in pokemon.type %}grass {% elif 'fire' in pokemon.type %}fire {% elif 'water' in pokemon.type %}water {% elif 'normal' in pokemon.type %}normal {% elif 'poison' in pokemon.type %}poison {% elif 'bug' in pokemon.type %}bug {% elif 'flying' in pokemon.type %}flying {% elif 'psychic' in pokemon.type %}psychic {% elif 'ghost' in pokemon.type %}ghost {% elif 'dark' in pokemon.type %}dark {% elif 'rock' in pokemon.type %}rock {% elif 'steel' in pokemon.type %}steel {% elif 'ice' in pokemon.type %}ice {% elif 'dragon' in pokemon.type %}dragon {% elif 'electric' in pokemon.type %}electric {% elif 'fighting' in pokemon.type %}fighting {% elif 'fairy' in pokemon.type %}fairy {% elif 'ground' in pokemon.type %}ground {% elif 'humanshape' in pokemon.type %}humanshape {% elif 'mineral' in pokemon.type %}mineral {% endif %}">
                    <div class="card-body">
                        <a href="{% url 'Pokedex-detail' pokemon.nom %}">
                            <h5 class="card-title">{{ pokemon.nom }}</h5>
                            <img style="width: 70%"
                                 src={{ pokemon.img_link }}>
                            <p class="card-text">Pokemon Type : {{ pokemon.type.0 }}</p>
                            <p class="card-text">#{{ pokemon.pokemon_id }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
